# Ignore everything.
**

# But include these files...
!.gitignore
!LICENSE
!README.md

# ... and these files under the 'rabbitmq' directory...
!mongodb/
mongodb/*
!mongodb/.dockerignore
!mongodb/Dockerfile-prod
!mongodb/scripts
mongodb/scripts/*
!mongodb/scripts/entrypoint.sh
